<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="baidu-site-verification" content="BHraSigcd3">
    <link rel="icon" href="/favicon.ico">
    <meta name="author" content="{{ .Config.Author }}">
    <title>{{block "title" .}} {{ .Config.Title }} {{end}} | 技术博客</title>
    <meta name="keywords" content="{{ .Config.Keywords }}">
    <meta name="description" content="{{ .Config.Description }}">
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    {{block "css" .}} {{end}}
    <script async="" src="/assets/js/analytics.js"></script>
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
{{template "nav" .}}
<div class="container main">
    {{block "container" .}} {{end}}
</div>
{{template "footer.html" .}}
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/assets/js/zx.js"></script>
{{block "js" .}} {{end}}
{{block "js-sub" .}} {{end}}
</body>
</html>
