{{template "master.html" .}}

{{ define "footer" }}
<footer class="footer">
    <ul class="list-inline">
        {{ range $category := .Categories }}
        <li class="cat-item cat-item-342">
            <a href="/category/{{ $category.Slug }}" title="{{ $category.Name }}">{{ $category.Name }}</a>
        </li>
        {{ end }}
    </ul>
    <p> Copyright © 2010-2020
        <a href="https://www.ewayee.com/">{{ .Config.Title }}</a>
        <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">{{ .Config.Icp }}</a>
    </p>
</footer>

{{end}}